<%= render 'shared/page_title', title: "All Recipes" %>

<% @recipes.each do |recipe| %>
<div class= "row">
	
	<div class="col-md-2">
		
		<section class= "chef_info centre">
			<%=gravatar_for recipe.chef, size: 120 %>
			<h5>Chef Name: <%= recipe.chef.chefname %></h5>
		
		</section>
		
	</div>
	
	<div class="col-lg-6 well">
		<h4> <%=link_to recipe.name,recipe_path(recipe) %> </h4>
			<p><%= recipe.summary %></p>
	</div>
	
	<div class="col-md-4">
		<%= image_tag(recipe.picture.url, size: "250x250", class: "gravatar") if recipe.picture? %>
	
	</div>

</div>
<hr/>
<% end %>